.alert-show {
  visibility: visible;
  opacity: 100%;
}

.alert-hide {
  visibility: hidden;
  opacity: 0%;
}

.alert-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.alert {
  position: absolute;
  min-width: 33%;
  z-index: 99;
}
