.table td {
  vertical-align: middle;
}

.navbar {
  margin-bottom: 10px;
}

.album-title {
  font-weight: 500;
  font-size: 1.25rem;
}

.alert-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.alert {
  position: absolute;
  min-width: 33%;
  z-index: 99;
}

.alert-show {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0s;
}

.alert-hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s, opacity .5s;
}

.spinner {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.btn-group-toggle > .btn {
  cursor: pointer;
}

.sign-out {
  cursor: pointer;
  display: flex;
  align-items: center;
}
