.table td {
  vertical-align: middle;
}

.navbar {
  margin-bottom: 10px;
}

.album-title {
  font-weight: 500;
  font-size: 1.25rem;
}

.alert-show {
  visibility: visible;
  opacity: 100%;
}

.alert-hide {
  visibility: hidden;
  opacity: 0%;
}

.alert-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.alert {
  position: absolute;
  min-width: 33%;
  z-index: 99;
}

.spinner {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
