body {
  font-family: 'Roboto', 'Arial', sans-serif;
}

.navbar {
  margin-bottom: 10px;
}

h3 {
  margin-top: 10px;
}

.jumbotron {
  background: white;
  color: black;
  text-align: center;
}

.jumbotron p {
  color: gray;
  font-size: 26px;
}

.main {
  text-align: center;
}

.main h4 {
  color: gray;
  margin-bottom: 30px;
}

a.no-color {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

a.no-color:hover {
  color: gray;
}

a.dashed {
  color: gray;
  text-decoration: none;
  border-bottom: 1px gray dashed;
}

a.dashed:hover {
  color: black;
}

.songs {
  //margin: 0 auto;
  //width: 90%;
}

.insta-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.star:hover {
  cursor: pointer;
  color: yellow;
  text-shadow: 0 0 5px black, 0 0 5px black;
}

.x {
  color: white;
}

.list-group-item:hover .x {
  color: red;
  cursor: pointer;
}

#mobile-nav {
  display: none;
}

.navbar {
    border-radius: 0;
}

.insta-image {
  padding: 5px;
}

.form {
  padding: 0 15px;
}

@media only screen and (max-width: 768px) {
  #navigation {
    display: none;
  }
  #mobile-nav {
    display: inline;
    white-space: nowrap;
    padding: -10px 0px;
  }
  #mobile-nav ul li {
    display: inline-block;
    padding: 0;
  }
  #mobile-container {
    background-color: #222;
    border-color: #080808;
    display: flex;
    //justify-content: space-between;
    //margin-bottom: 10px;
  }
  #mobile-container .navbar-header a {
    color: white;
    font-size: 1.1em;
  }
  #mobile-container .navbar-nav li a {
    color: white;
    font-size: 1.1em;
  }
  .navbar-header {
    display: inline-block;
    float: left;
  }
  #mobile-nav .navbar-right {
    margin: 0 auto;
  }
  .jumbotron {
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
